In [1]:
import pandas as pd
import csv

In [3]:
# Read csv File and store into Pandas data frame
csv_path = "Resources/cities.csv"
cities_df = pd.read_csv(csv_path)
cities_df.head()

,Unnamed: 0,city,latitude,longitude,max_temperature,cloudiness,wind_speed,humidity,country,date
0,0,Punta Arenas,-53.1500,-70.9167,42.80,0,3.44,75,CL,1619326413
1,1,Praia,14.9215,-23.5087,69.80,75,12.66,73,CV,1619326413
2,2,Rikitea,-23.1203,-134.9692,78.66,100,12.82,76,PF,1619326414
3,3,Kuytun,54.3419,101.5036,43.41,97,8.70,55,RU,1619326414
4,4,Yining,29.0361,114.5636,61.52,100,3.71,91,CN,1619326414

In [6]:
result = cities_df.to_html()
print(result)

tr>
      <th>504</th>
      <td>504</td>
      <td>Coyhaique</td>
      <td>-45.5752</td>
      <td>-72.0662</td>
      <td>45.88</td>
      <td>100</td>
      <td>5.73</td>
      <td>95</td>
      <td>CL</td>
      <td>1619326611</td>
    </tr>
    <tr>
      <th>505</th>
      <td>505</td>
      <td>Mountain Home</td>
      <td>43.1330</td>
      <td>-115.6912</td>
      <td>50.00</td>
      <td>40</td>
      <td>2.21</td>
      <td>57</td>
      <td>US</td>
      <td>1619326611</td>
    </tr>
    <tr>
      <th>506</th>
      <td>506</td>
      <td>Kasempa</td>
      <td>-13.4584</td>
      <td>25.8338</td>
      <td>61.09</td>
      <td>82</td>
      <td>4.68</td>
      <td>88</td>
      <td>ZM</td>
      <td>1619326612</td>
    </tr>
    <tr>
      <th>507</th>
      <td>507</td>
      <td>Srednekolymsk</td>
      <td>67.4500</td>
      <td>153.6833</td>
      <td>21.24</td>
      <td>100</td>
      <td>7.96</td>
      <td>79</td>
      <td>RU</td>
      <td>1619326612</td>
    </tr>
    <tr>
      <th>508</th>
      <td>508</td>
      <td>Anzio</td>
      <td>41.4853</td>
      <td>12.6179</td>
      <td>52.00</td>
      <td>0</td>
      <td>4.59</td>
      <td>87</td>
      <td>IT</td>
      <td>1619326612</td>
    </tr>
    <tr>
      <th>509</th>
      <td>509</td>
      <td>Hanzhong</td>
      <td>33.0728</td>
      <td>107.0303</td>
      <td>54.82</td>
      <td>100</td>
      <td>2.48</td>
      <td>90</td>
      <td>CN</td>
      <td>1619326613</td>
    </tr>
    <tr>
      <th>510</th>
      <td>510</td>
      <td>Guarapari</td>
      <td>-20.6667</td>
      <td>-40.4975</td>
      <td>73.40</td>
      <td>75</td>
      <td>3.44</td>
      <td>88</td>
      <td>BR</td>
      <td>1619326613</td>
    </tr>
    <tr>
      <th>511</th>
      <td>511</td>
      <td>Banes</td>
      <td>20.9625</td>
      <td>-75.7186</td>
      <td>75.20</td>
      <td>1</td>
      <td>9.22</td>
      <td>94</td>
      <td>CU</td>
      <td>1619326613</td>
    </tr>
    <tr>
      <th>512</th>
      <td>512</td>
      <td>Laas</td>
      <td>46.6166</td>
      <td>10.7002</td>
      <td>46.00</td>
      <td>0</td>
      <td>3.44</td>
      <td>81</td>
      <td>IT</td>
      <td>1619326614</td>
    </tr>
    <tr>
      <th>513</th>
      <td>513</td>
      <td>Coronado</td>
      <td>32.6859</td>
      <td>-117.1831</td>
      <td>59.00</td>
      <td>75</td>
      <td>6.91</td>
      <td>77</td>
      <td>US</td>
      <td>1619326614</td>
    </tr>
    <tr>
      <th>514</th>
      <td>514</td>
      <td>Hundorp</td>
      <td>61.5552</td>
      <td>9.9407</td>
      <td>20.03</td>
      <td>26</td>
      <td>4.76</td>
      <td>89</td>
      <td>NO</td>
      <td>1619326615</td>
    </tr>
    <tr>
      <th>515</th>
      <td>515</td>
      <td>Mombetsu</td>
      <td>44.3525</td>
      <td>143.3525</td>
      <td>33.80</td>
      <td>75</td>
      <td>8.05</td>
      <td>93</td>
      <td>JP</td>
      <td>1619326615</td>
    </tr>
    <tr>
      <th>516</th>
      <td>516</td>
      <td>Matamoros</td>
      <td>25.5333</td>
      <td>-103.2500</td>
      <td>67.66</td>
      <td>21</td>
      <td>0.96</td>
      <td>9</td>
      <td>MX</td>
      <td>1619326411</td>
    </tr>
    <tr>
      <th>517</th>
      <td>517</td>
      <td>Kormilovka</td>
      <td>55.0026</td>
      <td>74.1028</td>
      <td>53.60</td>
      <td>0</td>
      <td>15.66</td>
      <td>19</td>
      <td>RU</td>
      <td>1619326616</td>
    </tr>
    <tr>
      <th>518</th>
      <td>518</td>
      <td>Lupiro</td>
      <td>-8.3833</td>
      <td>36.6667</td>
      <td>71.17</td>
      <td>100</td>
      <td>2.73</td>
      <td>97</td>
      <td>TZ</td>
      <td>1619326616</td>
    </tr>
    <tr>
      <th>519</th>
      <td>519</td>
      <td>Honningsvåg</td>
      <td>70.9821</td>
      <td>25.9704</td>
      <td>32.27</td>
      <td>100</td>
      <td>12.37</td>
      <td>57</td>
      <td>NO</td>
      <td>1619326616</td>
    </tr>
    <tr>
      <th>520</th>
      <td>520</td>
      <td>Bukene</td>
      <td>-4.2333</td>
      <td>32.8833</td>
      <td>67.64</td>
      <td>100</td>
      <td>4.16</td>
      <td>84</td>
      <td>TZ</td>
      <td>1619326617</td>
    </tr>
    <tr>
      <th>521</th>
      <td>521</td>
      <td>Novo Aripuanã</td>
      <td>-5.1206</td>
      <td>-60.3797</td>
      <td>73.76</td>
      <td>33</td>
      <td>1.05</td>
      <td>97</td>
      <td>BR</td>
      <td>1619326617</td>
    </tr>
    <tr>
      <th>522</th>
      <td>522</td>
      <td>Comodoro Rivadavia</td>
      <td>-45.8667</td>
      <td>-67.5000</td>
      <td>50.00</td>
      <td>0</td>
      <td>3.44</td>
      <td>81</td>
      <td>AR</td>
      <td>1619326618</td>
    </tr>
    <tr>
      <th>523</th>
      <td>523</td>
      <td>Bariloche</td>
      <td>-41.1456</td>
      <td>-71.3082</td>
      <td>46.99</td>
      <td>0</td>
      <td>3.44</td>
      <td>81</td>
      <td>AR</td>
      <td>1619326535</td>
    </tr>
    <tr>
      <th>524</th>
      <td>524</td>
      <td>Champasak</td>
      <td>14.7500</td>
      <td>106.0000</td>
      <td>93.20</td>
      <td>40</td>
      <td>4.61</td>
      <td>55</td>
      <td>LA</td>
      <td>1619326618</td>
    </tr>
    <tr>
      <th>525</th>
      <td>525</td>
      <td>Ziro</td>
      <td>27.6333</td>
      <td>93.8333</td>
      <td>91.40</td>
      <td>20</td>
      <td>9.22</td>
      <td>43</td>
      <td>IN</td>
      <td>1619326619</td>
    </tr>
    <tr>
      <th>526</th>
      <td>526</td>
      <td>Taylorville</td>
      <td>39.5489</td>
      <td>-89.2945</td>
      <td>51.01</td>
      <td>67</td>
      <td>1.01</td>
      <td>87</td>
      <td>US</td>
      <td>1619326487</td>
    </tr>
    <tr>
      <th>527</th>
      <td>527</td>
      <td>Turukhansk</td>
      <td>65.8167</td>
      <td>87.9833</td>
      <td>32.74</td>
      <td>98</td>
      <td>11.16</td>
      <td>98</td>
      <td>RU</td>
      <td>1619326619</td>
    </tr>
    <tr>
      <th>528</th>
      <td>528</td>
      <td>Quatre Cocos</td>
      <td>-20.2078</td>
      <td>57.7625</td>
      <td>80.01</td>
      <td>75</td>
      <td>13.80</td>
      <td>83</td>
      <td>MU</td>
      <td>1619326620</td>
    </tr>
    <tr>
      <th>529</th>
      <td>529</td>
      <td>Yeppoon</td>
      <td>-23.1333</td>
      <td>150.7333</td>
      <td>82.40</td>
      <td>51</td>
      <td>9.22</td>
      <td>36</td>
      <td>AU</td>
      <td>1619326620</td>
    </tr>
    <tr>
      <th>530</th>
      <td>530</td>
      <td>Saint Stephen</td>
      <td>50.3333</td>
      <td>-4.9000</td>
      <td>46.40</td>
      <td>4</td>
      <td>6.91</td>
      <td>61</td>
      <td>GB</td>
      <td>1619326620</td>
    </tr>
    <tr>
      <th>531</th>
      <td>531</td>
      <td>Samarai</td>
      <td>-10.6167</td>
      <td>150.6667</td>
      <td>84.34</td>
      <td>40</td>
      <td>16.40</td>
      <td>73</td>
      <td>PG</td>
      <td>1619326621</td>
    </tr>
    <tr>
      <th>532</th>
      <td>532</td>
      <td>Tynda</td>
      <td>55.1667</td>
      <td>124.7167</td>
      <td>44.26</td>
      <td>100</td>
      <td>6.44</td>
      <td>54</td>
      <td>RU</td>
      <td>1619326621</td>
    </tr>
    <tr>
      <th>533</th>
      <td>533</td>
      <td>Newport</td>
      <td>51.5877</td>
      <td>-2.9984</td>
      <td>42.01</td>
      <td>6</td>
      <td>14.97</td>
      <td>83</td>
      <td>GB</td>
      <td>1619326622</td>
    </tr>
    <tr>
      <th>534</th>
      <td>534</td>
      <td>Pacific Grove</td>
      <td>36.6177</td>
      <td>-121.9166</td>
      <td>54.00</td>
      <td>100</td>
      <td>2.10</td>
      <td>87</td>
      <td>US</td>
      <td>1619326425</td>
    </tr>
    <tr>
      <th>535</th>
      <td>535</td>
      <td>Ruteng</td>
      <td>-8.6136</td>
      <td>120.4721</td>
      <td>72.34</td>
      <td>36</td>
      <td>0.40</td>
      <td>70</td>
      <td>ID</td>
      <td>1619326623</td>
    </tr>
    <tr>
      <th>536</th>
      <td>536</td>
      <td>Mahébourg</td>
      <td>-20.4081</td>
      <td>57.7000</td>
      <td>77.00</td>
      <td>75</td>
      <td>13.80</td>
      <td>83</td>
      <td>MU</td>
      <td>1619326623</td>
    </tr>
    <tr>
      <th>537</th>
      <td>537</td>
      <td>São Lourenço da Mata</td>
      <td>-8.0022</td>
      <td>-35.0183</td>
      <td>73.40</td>
      <td>40</td>
      <td>2.30</td>
      <td>88</td>
      <td>BR</td>
      <td>1619326624</td>
    </tr>
    <tr>
      <th>538</th>
      <td>538</td>
      <td>Kindu</td>
      <td>-2.9500</td>
      <td>25.9500</td>
      <td>69.80</td>
      <td>100</td>
      <td>1.25</td>
      <td>99</td>
      <td>CD</td>
      <td>1619326624</td>
    </tr>
    <tr>
      <th>539</th>
      <td>539</td>
      <td>Fernley</td>
      <td>39.6080</td>
      <td>-119.2518</td>
      <td>54.00</td>
      <td>97</td>
      <td>5.99</td>
      <td>30</td>
      <td>US</td>
      <td>1619326502</td>
    </tr>
    <tr>
      <th>540</th>
      <td>540</td>
      <td>Verkhnyaya Inta</td>
      <td>65.9811</td>
      <td>60.3094</td>
      <td>45.81</td>
      <td>100</td>
      <td>17.67</td>
      <td>65</td>
      <td>RU</td>
      <td>1619326550</td>
    </tr>
    <tr>
      <th>541</th>
      <td>541</td>
      <td>Taltal</td>
      <td>-25.4000</td>
      <td>-70.4833</td>
      <td>61.88</td>
      <td>1</td>
      <td>3.60</td>
      <td>81</td>
      <td>CL</td>
      <td>1619326625</td>
    </tr>
    <tr>
      <th>542</th>
      <td>542</td>
      <td>Tura</td>
      <td>25.5198</td>
      <td>90.2201</td>
      <td>96.24</td>
      <td>1</td>
      <td>6.44</td>
      <td>17</td>
      <td>IN</td>
      <td>1619326625</td>
    </tr>
    <tr>
      <th>543</th>
      <td>543</td>
      <td>Aksu</td>
      <td>41.1231</td>
      <td>80.2644</td>
      <td>63.97</td>
      <td>80</td>
      <td>5.03</td>
      <td>21</td>
      <td>CN</td>
      <td>1619326625</td>
    </tr>
    <tr>
      <th>544</th>
      <td>544</td>
      <td>Bandarbeyla</td>
      <td>9.4942</td>
      <td>50.8122</td>
      <td>84.36</td>
      <td>43</td>
      <td>7.70</td>
      <td>68</td>
      <td>SO</td>
      <td>1619326626</td>
    </tr>
    <tr>
      <th>545</th>
      <td>545</td>
      <td>Salym</td>
      <td>60.0625</td>
      <td>71.4789</td>
      <td>48.27</td>
      <td>100</td>
      <td>5.61</td>
      <td>50</td>
      <td>RU</td>
      <td>1619326626</td>
    </tr>
    <tr>
      <th>546</th>
      <td>546</td>
      <td>Port Macquarie</td>
      <td>-31.4333</td>
      <td>152.9167</td>
      <td>72.00</td>
      <td>2</td>
      <td>1.99</td>
      <td>62</td>
      <td>AU</td>
      <td>1619326627</td>
    </tr>
    <tr>
      <th>547</th>
      <td>547</td>
      <td>Kushiro</td>
      <td>42.9750</td>
      <td>144.3747</td>
      <td>41.00</td>
      <td>75</td>
      <td>10.36</td>
      <td>65</td>
      <td>JP</td>
      <td>1619326627</td>
    </tr>
    <tr>
      <th>548</th>
      <td>548</td>
      <td>Takāb</td>
      <td>36.4009</td>
      <td>47.1133</td>
      <td>63.37</td>
      <td>24</td>
      <td>2.95</td>
      <td>15</td>
      <td>IR</td>
      <td>1619326448</td>
    </tr>
    <tr>
      <th>549</th>
      <td>549</td>
      <td>Obama</td>
      <td>35.4958</td>
      <td>135.7460</td>
      <td>68.00</td>
      <td>33</td>
      <td>5.01</td>
      <td>41</td>
      <td>JP</td>
      <td>1619326628</td>
    </tr>
    <tr>
      <th>550</th>
      <td>550</td>
      <td>Avera</td>
      <td>33.1940</td>
      <td>-82.5271</td>
      <td>63.00</td>
      <td>90</td>
      <td>6.91</td>
      <td>98</td>
      <td>US</td>
      <td>1619326628</td>
    </tr>
    <tr>
      <th>551</th>
      <td>551</td>
      <td>Villazón</td>
      <td>-22.0866</td>
      <td>-65.5942</td>
      <td>39.38</td>
      <td>23</td>
      <td>5.79</td>
      <td>80</td>
      <td>BO</td>
      <td>1619326629</td>
    </tr>
    <tr>
      <th>552</th>
      <td>552</td>
      <td>Mankono</td>
      <td>8.0586</td>
      <td>-6.1897</td>
      <td>72.86</td>
      <td>97</td>
      <td>4.79</td>
      <td>92</td>
      <td>CI</td>
      <td>1619326629</td>
    </tr>
    <tr>
      <th>553</th>
      <td>553</td>
      <td>Naze</td>
      <td>28.3667</td>
      <td>129.4833</td>
      <td>77.00</td>
      <td>75</td>
      <td>19.57</td>
      <td>57</td>
      <td>JP</td>
      <td>1619326629</td>
    </tr>
    <tr>
      <th>554</th>
      <td>554</td>
      <td>Nioro</td>
      <td>13.3500</td>
      <td>-15.7500</td>
      <td>72.28</td>
      <td>9</td>
      <td>7.76</td>
      <td>44</td>
      <td>GM</td>
      <td>1619326630</td>
    </tr>
    <tr>
      <th>555</th>
      <td>555</td>
      <td>Petropavlovsk-Kamchatskiy</td>
      <td>53.0452</td>
      <td>158.6483</td>
      <td>41.00</td>
      <td>75</td>
      <td>2.24</td>
      <td>70</td>
      <td>RU</td>
      <td>1619326630</td>
    </tr>
    <tr>
      <th>556</th>
      <td>556</td>
      <td>Dalmatovo</td>
      <td>56.2600</td>
      <td>62.9362</td>
      <td>50.72</td>
      <td>96</td>
      <td>10.02</td>
      <td>44</td>
      <td>RU</td>
      <td>1619326630</td>
    </tr>
    <tr>
      <th>557</th>
      <td>557</td>
      <td>Östersund</td>
      <td>63.1792</td>
      <td>14.6357</td>
      <td>28.99</td>
      <td>90</td>
      <td>11.50</td>
      <td>74</td>
      <td>SE</td>
      <td>1619326631</td>
    </tr>
    <tr>
      <th>558</th>
      <td>558</td>
      <td>Springdale</td>
      <td>36.1867</td>
      <td>-94.1288</td>
      <td>50.00</td>
      <td>1</td>
      <td>2.21</td>
      <td>87</td>
      <td>US</td>
      <td>1619326631</td>
    </tr>
    <tr>
      <th>559</th>
      <td>559</td>
      <td>Kamaishi</td>
      <td>39.2667</td>
      <td>141.8833</td>
      <td>57.20</td>
      <td>40</td>
      <td>11.50</td>
      <td>54</td>
      <td>JP</td>
      <td>1619326632</td>
    </tr>
    <tr>
      <th>560</th>
      <td>560</td>
      <td>Dingle</td>
      <td>10.9995</td>
      <td>122.6711</td>
      <td>89.42</td>
      <td>75</td>
      <td>6.98</td>
      <td>54</td>
      <td>PH</td>
      <td>1619326444</td>
    </tr>
    <tr>
      <th>561</th>
      <td>561</td>
      <td>São Desidério</td>
      <td>-12.3633</td>
      <td>-44.9733</td>
      <td>69.80</td>
      <td>67</td>
      <td>2.46</td>
      <td>94</td>
      <td>BR</td>
      <td>1619326632</td>
    </tr>
    <tr>
      <th>562</th>
      <td>562</td>
      <td>Kichera</td>
      <td>55.9375</td>
      <td>110.0997</td>
      <td>41.74</td>
      <td>100</td>
      <td>3.02</td>
      <td>84</td>
      <td>RU</td>
      <td>1619326633</td>
    </tr>
    <tr>
      <th>563</th>
      <td>563</td>
      <td>Ambilobe</td>
      <td>-13.2000</td>
      <td>49.0500</td>
      <td>78.12</td>
      <td>82</td>
      <td>3.22</td>
      <td>78</td>
      <td>MG</td>
      <td>1619326633</td>
    </tr>
    <tr>
      <th>564</th>
      <td>564</td>
      <td>Juegang</td>
      <td>32.3174</td>
      <td>121.1855</td>
      <td>64.17</td>
      <td>100</td>
      <td>10.69</td>
      <td>80</td>
      <td>CN</td>
      <td>1619326633</td>
    </tr>
    <tr>
      <th>565</th>
      <td>565</td>
      <td>Rapid Valley</td>
      <td>44.0625</td>
      <td>-103.1463</td>
      <td>46.40</td>
      <td>75</td>
      <td>13.80</td>
      <td>65</td>
      <td>US</td>
      <td>1619326634</td>
    </tr>
    <tr>
      <th>566</th>
      <td>566</td>
      <td>Guerrero Negro</td>
      <td>27.9769</td>
      <td>-114.0611</td>
      <td>58.44</td>
      <td>4</td>
      <td>14.43</td>
      <td>86</td>
      <td>MX</td>
      <td>1619326634</td>
    </tr>
    <tr>
      <th>567</th>
      <td>567</td>
      <td>Xingcheng</td>
      <td>40.6167</td>
      <td>120.7167</td>
      <td>60.22</td>
      <td>100</td>
      <td>11.39</td>
      <td>28</td>
      <td>CN</td>
      <td>1619326635</td>
    </tr>
    <tr>
      <th>568</th>
      <td>568</td>
      <td>Ocós</td>
      <td>14.5094</td>
      <td>-92.1933</td>
      <td>77.00</td>
      <td>40</td>
      <td>1.63</td>
      <td>100</td>
      <td>GT</td>
      <td>1619326635</td>
    </tr>
    <tr>
      <th>569</th>
      <td>569</td>
      <td>Gaza</td>
      <td>31.5000</td>
      <td>34.4667</td>
      <td>66.00</td>
      <td>2</td>
      <td>6.11</td>
      <td>100</td>
      <td>PS</td>
      <td>1619326636</td>
    </tr>
    <tr>
      <th>570</th>
      <td>570</td>
      <td>Doka</td>
      <td>13.5167</td>
      <td>35.7667</td>
      <td>87.75</td>
      <td>60</td>
      <td>10.87</td>
      <td>38</td>
      <td>SD</td>
      <td>1619326636</td>
    </tr>
    <tr>
      <th>571</th>
      <td>571</td>
      <td>Altay</td>
      <td>47.8667</td>
      <td>88.1167</td>
      <td>35.58</td>
      <td>28</td>
      <td>2.89</td>
      <td>41</td>
      <td>CN</td>
      <td>1619326636</td>
    </tr>
    <tr>
      <th>572</th>
      <td>572</td>
      <td>Poum</td>
      <td>-20.2333</td>
      <td>164.0167</td>
      <td>77.92</td>
      <td>98</td>
      <td>7.54</td>
      <td>78</td>
      <td>NC</td>
      <td>1619326637</td>
    </tr>
    <tr>
      <th>573</th>
      <td>573</td>
      <td>Pasni</td>
      <td>25.2631</td>
      <td>63.4710</td>
      <td>82.13</td>
      <td>0</td>
      <td>3.58</td>
      <td>67</td>
      <td>PK</td>
      <td>1619326637</td>
    </tr>
    <tr>
      <th>574</th>
      <td>574</td>
      <td>San Cristobal</td>
      <td>7.7669</td>
      <td>-72.2250</td>
      <td>78.80</td>
      <td>40</td>
      <td>4.61</td>
      <td>94</td>
      <td>VE</td>
      <td>1619326638</td>
    </tr>
    <tr>
      <th>575</th>
      <td>575</td>
      <td>Dhidhdhoo</td>
      <td>6.8833</td>
      <td>73.1000</td>
      <td>84.33</td>
      <td>62</td>
      <td>4.07</td>
      <td>68</td>
      <td>MV</td>
      <td>1619326638</td>
    </tr>
    <tr>
      <th>576</th>
      <td>576</td>
      <td>Verkh-Usugli</td>
      <td>52.7000</td>
      <td>115.1667</td>
      <td>57.99</td>
      <td>100</td>
      <td>12.64</td>
      <td>15</td>
      <td>RU</td>
      <td>1619326638</td>
    </tr>
    <tr>
      <th>577</th>
      <td>577</td>
      <td>Birao</td>
      <td>10.2849</td>
      <td>22.7882</td>
      <td>78.42</td>
      <td>78</td>
      <td>3.91</td>
      <td>57</td>
      <td>CF</td>
      <td>1619326639</td>
    </tr>
    <tr>
      <th>578</th>
      <td>578</td>
      <td>San Miguel de Cozumel</td>
      <td>20.5083</td>
      <td>-86.9458</td>
      <td>78.80</td>
      <td>40</td>
      <td>8.05</td>
      <td>83</td>
      <td>MX</td>
      <td>1619326639</td>
    </tr>
    <tr>
      <th>579</th>
      <td>579</td>
      <td>Sawtell</td>
      <td>-30.3833</td>
      <td>153.1000</td>
      <td>71.60</td>
      <td>3</td>
      <td>10.36</td>
      <td>64</td>
      <td>AU</td>
      <td>1619326640</td>
    </tr>
    <tr>
      <th>580</th>
      <td>580</td>
      <td>Portlethen</td>
      <td>57.0547</td>
      <td>-2.1307</td>
      <td>32.00</td>
      <td>100</td>
      <td>1.14</td>
      <td>100</td>
      <td>GB</td>
      <td>1619326640</td>
    </tr>
    <tr>
      <th>581</th>
      <td>581</td>
      <td>Balkhash</td>
      <td>46.8440</td>
      <td>74.9804</td>
      <td>48.20</td>
      <td>0</td>
      <td>29.08</td>
      <td>34</td>
      <td>KZ</td>
      <td>1619326641</td>
    </tr>
    <tr>
      <th>582</th>
      <td>582</td>
      <td>Boyolangu</td>
      <td>-8.1181</td>
      <td>111.8935</td>
      <td>85.26</td>
      <td>12</td>
      <td>6.67</td>
      <td>64</td>
      <td>ID</td>
      <td>1619326641</td>
    </tr>
    <tr>
      <th>583</th>
      <td>583</td>
      <td>Manjakandriana</td>
      <td>-18.9167</td>
      <td>47.8000</td>
      <td>64.40</td>
      <td>75</td>
      <td>5.75</td>
      <td>82</td>
      <td>MG</td>
      <td>1619326642</td>
    </tr>
  </tbody>
</table>

In [7]:
# write html to file
text_file = open("data_2.html", "w")
text_file.write(result)
text_file.close()